# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

.vercel

package-lock.json
bun.lockb
yarn.lock

# --------------------------------

/src/content/posts/tryhackme/*
/public/assets/tryhackme/*
/src/content/posts/Annual/2025AnnualReview.*
/public/assets/Annual/*
/src/content/posts/ASISCTFFinals2025.*
/public/assets/ASISCTFFinals2025/*
/src/content/posts/Pre-Exam2026.*
/public/assets/Pre-Exam2026/*